body{
    color: grey;
    background-color: white;
}
.box1{
    height: 250px;
}
#one-one{
    background-color: #4169E1;
    width: 100%;
    height: 210px;
    border: 5px solid black;
    border-left: none;
    border-right: 3px solid grey;
}
#img1{
    object-fit: cover;
    border: 10px solid grey;
    position: relative;
    bottom: 135px;
    border-radius: 50%;
    height: 300px;
    width: 290px;
    -webkit-transition: -webkit-transform 1s;
}
#img1:hover{
    border: 10px solid cyan;
    -webkit-transform: rotate(15deg) translatez(0); 
}
@media screen and (max-width:820px) {
    #one-one{
        width:100%
    }
    
}
#one-two{

    font-size: 75px;
    position: relative;
    top: 130px;
}
#one-two:hover{
    animation-direction: reverse;
    animation-name: an1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
    transform: translateX(0);

}
@keyframes an1 {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
    
}
.box3{
    box-sizing: border-box;
    width: 55%;
    height: 270px;
    border: 3px solid grey;
    position: relative;
    top: 130px;
    border-radius: 25%;
}
.box3:hover{
    animation-name: an2;
    animation-duration: 3s;
}
.boxinfo{
    height: 95px;
    width: 230px;
    position: relative;
    border: 3px solid grey;
    bottom: 60px;
    left: 67%;
    border-radius: 12px;
}
.boxinfo:hover{
   background-color: black;
   color: grey;
}

@keyframes an2 {
    from{
        transform: translateX(15%);
    }    
    to{
        transform: translateX(0);
    }
}
@media screen and (min-width:1150px){
    .box3{
        font-size: larger;
    }
    
}
#hr1{
    width: 80%;
    color: #4169E1;
}
.cer{
    font-size: 25px;
    position: relative;
    top: 135px;
}
 .box4{
    position: relative;
    top: 135px;
 }
 #cer1{
    border-radius: 25%;
    position: relative;
    left: 35%;
    border: 3px solid grey;
 }
 .box4:hover{
    animation-name: an3;
    animation-duration: 3s;

 }
 @keyframes an3 {
    from{
        transform: translateX(-15%);
    }
    to{
        transform: translateX(0);
    }
    
 }
 #cer2{
    border-radius: 25%;
    border: 3PX SOLID gray;
 }
 .box5:hover{
    animation-name: an2;
    animation-duration: 3s;

 }
 .box5{
    position: relative;
    top: 150px;

 }
 .box6{
    
    position: relative;
    top: 155px;
 }
 #cer3{
    position: relative;
    left: 35%;
    border-radius: 25%;
    border: 3PX SOLID gray;
 }
 .box6:hover{
    animation-name: an3;
    animation-duration: 3s;

 }
 .box7{
    position: relative;
    top: 157px;    
}
#cer4{
    border-radius: 25%;
    border: 3PX SOLID grey;
}
.box7:hover{
    animation-name: an2;
    animation-duration: 3s;
}
.webd{
    position: relative;
    top: 180px;
    color: grey;
}
#h31{
    color: black;
    font-size: 19px;
}
#h11{
    font-size: 30px;
}
#template1{
    position: relative;
    top: 200px;
    border-radius: 12px;
    border: 3px solid grey;
}
#template1:hover{
    border: 7px solid black;
}
#template2{
    position: relative;
    top: 230px;
    border-radius: 12px;
    border: 3px solid grey;
}
#template2:hover{
    border: 7px solid black;
}
#template3{
    position: relative;
    top: 260px;
    border-radius: 12px;
    border: 3px solid grey;
}
#template3:hover{
    border: 7px solid black;
}
#template4{
    position: relative;
    top: 320px;
    border-radius: 12px;
    border: 3px solid grey;
}
#template4:hover{
    border: 7px solid black;
}
#template7{
    position: relative;
    top: 290px;
    border-radius: 12px;
    border: 3px solid grey;
}
#template7:hover{
    border: 7px solid black;
}
#template5{
    position: relative;
    top: 350px;
    border-radius: 12px;
    border: 3px solid grey;
}
#template5:hover{
    border: 7px solid black;
}
#template6{
    position: relative;
    top: 380px;
    border-radius: 12px;
    border: 3px solid grey;
}
#template6:hover{
    border: 7px solid black;
}
.end{
    position: relative;
    top: 400px;
    font-size: larger;
}
#hr3{
    width: 80%;
}